body {
	margin-top:60px;
}

.chatArea {
	min-height:300px;
	overflow: auto;
}

.bordered {
	margin: 0;
	margin-bottom: 10px;
	border: 1px solid #CCC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 14px;
	
}

footer {
	text-align: center;
}