body {
	margin-top:60px;

}

.navbar {
	position: absolute;
}

.mainview {
	position: absolute;
	top:41px;
	bottom:40px;
	left:0;
	right:0;
	overflow-y: auto;
	overflow-x: hidden;
}
.chatArea {
	min-height:300px;
	overflow: auto;
}

.bordered {
	margin: 0;
	margin-bottom: 10px;
	border: 1px solid #CCC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 14px;
	
}

footer {
	text-align: center;
	position: absolute;
	color: #999;
	width: 100%;
	height:30px;
	padding-top: 10px;
	bottom:0;
	background-color: #1B1B1B;
	border-top: 1px solid #EEE;

}