<div class="row" ng-controller="ContactCtrl">

	<div class="span12">
		<h1>Contact</h1>
	</div>
	
	<div class="span8 offset2">

		<div class="span8 bordered chatArea">
			<div ng-repeat="line in chatHistory">
				{{line.nick}} - {{line.txt}}
			</div>
			<div ng-show="!chatHistory.length">
				Nothing to show
			</div>
		</div>

		<form class="form-search" ng-submit="send()">
	  		<div class="input-append">
	    		<input type="text" ng-model="chatInput" class="search-query">
	    		<input type="submit" class="btn">Say</input>
	  		</div>
		</form>

	</div>
</div>