<div ng-controller="UploadCtrl">
  <h1>Upload Board</h1>
  <h5>All your data are belong to us.</h5>
  <hr/>
  <div class="row">
    <div class="span6">

      <div class="btn-toolbar">
	<button ng-click="sendAll()" class="btn btn-info">Send all</button>
      </div>

      <ul class="nav nav-tabs nav-stacked">
	<li ng-repeat="file in uploadFileList">
	  <uploadfile file="file" index="$index"/>
	</li>
      </ul>

    </div>
    <div class="span6">			
      <uploadbox on-drop="onDrop(file)"/>
    </div>
  </div>
</div>
